button{
    background-color: #1976d2;
    border: 1px solid #739dab;
    padding: 5px 7px;
    color: white;
    font-family: system-ui;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.7;
    border: none;
}
